@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #9b59b6;
}
.wrapper{
    width: 450px;
    background: #fff;
    border-radius: 10px;
}
.wrapper header{
    display: flex;
    align-items: center;
    padding: 25px 25px 10px ;
    justify-content: space-between;
}
header .current-date{
    font-size: 1.45rem;
    font-weight: 500;
}

header .icons span{
    /* height: 38px; */
    /* width: 50px; */
    color: #878787;
    font-size: 1.1rem;
    margin: 0 10px;
    padding: 8px 12px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}
header .icons span:hover{
    background: #f2f2f2;
}
header .icons span:last-child{
    margin-left: -10px;
}
.calender{
    padding: 20px;
}
.calender ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}
.calender .days{
    margin-bottom: 20px;
}
.calender .weeks li{
    font-weight: 500;
}
.calender .days li{
    z-index: 1;
    cursor: pointer;
    margin-top: 30px;
}
.days li.inactive{
    color: #aaa;
}
.days li.active{
    color: #fff;
}

.calender ul li{
    position: relative;
    width: calc(100% / 7); 
    /* 100% of rows and 7 coloms */
}
.calender .days li::before{
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%,-50%);
}
.calender .days li:hover:before{
    background: #f2f2f2;
}
.calender .days li.active::before{
    background: #9b599b;
}


